asgiref==3.8.1
click==8.1.7
colorama==0.4.6
Django==5.0.7
h11==0.14.0
loguru==0.7.2
psycopg2==2.9.9
psycopg2-binary==2.9.9
python-dotenv==1.0.1
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
uvicorn==0.30.5
